.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: left;
  width: 300px;
}

table td {
  border: 1px solid #ddd;
}

table th,
table td,
table tr {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #aa6204;
  color: white;
}

.keyword-container {
  display: flex;
  padding: 10px 0px;
  align-items: center;
}

.keyword-container > div:nth-child(1) {
  padding-right: 8px;
  font-weight: bold;
}

.keyword-container input {
  width: 250px;
  height: 30px;
  border-radius: 2px;
  border: 2px solid maroon;
}
